<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.jetboystudio.pebble.PebblePGPlugin"
      version="0.2.6">
    <name>Pebble</name>
    <description>Cordova Pebble Watch Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,pebble</keywords>
    <repo>https://github.com/konsumer/phonegap-pebble.git</repo>
    <issue>https://github.com/konsumer/phonegap-pebble/issues</issue>


    <js-module src="www/Pebble.js" name="Pebble">
        <clobbers target="Pebble" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Pebble">
                <param name="android-package" value="com.jetboystudio.pebble.PebblePGPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/PebblePGPlugin.java" target-dir="src/com/jetboystudio/pebble" />
        <source-file src="src/android/libs/PebbleSDK-2.4.1.jar" target-dir="libs" />
    </platform>
</plugin>